@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;1,100;1,500&family=Teko:wght@300;400;500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ffffff;
}


nav {
    padding: 20px 0px;
    /* background-color: chartreuse; */
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav img {
    margin-left: 20px;
}

.nav-items {
    display: flex;
}

.nav-item {
    margin: 0px 30px;
    font-size: 21px;
    font-weight: 500;
}

.nav-item:hover {
    color: rgb(222, 72, 57);
    cursor: pointer;
}

.active-item {
    color: rgb(222, 72, 57);
}

.image {
    background-color: transparent;
}

.intro-section {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.left-section {
    width: 50%;
    height: auto;
}
.product-div{
    margin-left:100px ;
    display: flex;
    gap: 15px;
    flex-direction: row;
    margin-top: 30px;
}
.product-div:first-child{
    font-size: 60px;
}

.seconnd-heading{
    margin-left: 100px;
    padding-top: 45px;
    font-size: 50px;

}
@media screen and (max-width:1300px) and (min-width:1230px) {
    .product-div:first-child{
        font-size: 50px;
    }
}
@media screen and (max-width:1230px) and (min-width:1100px) {
    .product-div:first-child{
        font-size: 40px;
    }
}


.sub-headlines {
    padding-top: 60px;
    padding-left: 80px;
}

.sub-headlines img {
    background-color: #DE4839;
    border-radius: 50%;
}

.sub-headlines h5 {
    font-size: 35px;
}

span {
    margin-left: 10px;
    color: #0D0D0D;
    line-height: 60px;
    font-weight: 600;

}
.description{
    padding-left: 20px;
}
.description p{
    margin-left: 110px;
    margin-top: 10px;
    font-size: 25px;
    width: 100%;
}

.action-btns {
    margin-top: 60px;
    display: flex;
}

.action-btn {
    height: 48px;
    width: 170px;
    background-color: #de3939;
    border-radius: 40px;
    color: #ffffff;
    border: none;
    font-size: 15px;
}

.right-section {
    width: 60%;
    height: auto;
}

.headphone {
    height: 80%;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.discount {
    position: absolute;
    margin-top: 520px;
    left: 58%;
}

.discount-content {
    position: absolute;
    margin-top: 550px;
    color: #ffffff;
    left: 60%;
}

.discount-content h4 {
    font-size: 10px;
    text-align: center;

}

.dots {
    display: flex;
    justify-content: center;
}

.dot {
    height: 20px;
    width: 20px;
    margin-left: 20px;
    border-radius: 50%;
}

.yellow-dot {
    background-color: #F7CD2E;
}

.tomato-dot {
    background-color: #E21717;
}

.black-dot {
    background-color: #0D0D0D;
}

.action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px auto 0px;
    background-color: #DE4839;
    transition: 0.5s;
}

.action-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.new-btn:hover {
    cursor: not-allowed;
}

.three-line {
    position: absolute;
    right: 3%;
    display: none;
}


@media screen and (max-width:950px) {
    .nav-items {
        position: fixed;
        top: 8%;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        flex-direction: column;
        align-items: center;

    }

    nav {
        justify-content: space-between;
    }

    .nav-item {
        margin: 20px 0px;
        font-size: 40px;
        font-weight: 600;
    }

    .nav-item:hover {
        color: #de3939;
        cursor: pointer;
        transition: 0.6s;
    }

    .three-line {
        display: inline;
    }

    #check:checked~.nav-items {
        left: 0%;
        transition: 0.6s;
    }

}

@media screen and (max-width:1100px) {
    .intro-section {
        flex-direction: column;
    }
    .left-section{
        width: 100%;
    }
    .product-div{
        width: 100%;
    }
    .text{
        width: 100%;
    }
    .seconnd-heading{
       width: 100%;
       font-size: 40px;
    
    }
    .sub-headlines{
        width: 100%;
    }
}
@media screen and (max-width:760px) {
    .right-section .headphone {
        margin-top: 50px;
        width: 600px;
    }
    .action-btns{
        margin-left: 100px;
        gap: 50px;
    }
}
@media screen and (max-width:640px) {
    .right-section .headphone {
        width: 500px;
    }
   
}

@media screen and (max-width:440px) {
    .right-section .headphone {
        width: 300px;
    }
    .sub-headlines{
        padding-left: 10px;
    }
    .sub-headlines span{
        font-size: 20px;
    }
    .product-div:first-child{
        margin-left:20px ;
        font-size: 35px;
    }
    .product-div img{
        width: 30px;
    }
    .seconnd-heading{
        margin-left: 20px;
    }
    .description p{
        margin-left: 30px;
        font-size: 18px;
    }
}
@media screen and (max-width:1300px) {
    
    .intro-section .left-section {
        width: 80%;
    }

    .intro-section .right-section {
        width: 90%;
        margin: 0px auto;
    }


    .left-section h1 {
        margin-top: -30px;
    }

    .sub-headlines {
        margin-top: -50px;
        margin-left: 40px;
    }

    .text {
        margin-top: 25px;
        font-size: 25px;
        font-weight: 400;
        width: 80%;
        margin-left: 120px;
    }

    .action-btns {
        margin-top: 10px;
    }

    .discount-content {
        margin-top: 800px;
        left: 20%;
    }
}


@media screen  and (max-width:630px) {
    .product-div {
        margin-left: 50px;
        
    }
    .sub-headlines {
        padding-left: 40px;
    }
    .description p{
        margin-left: 70px;
        font-size: 22px;
    }
    .sub-headlines span{
        font-size: 30px;
    }
    .sub-headlines{
        margin-left: 20px;
    }
     .product-div:first-child{
        font-size: 50px;
    }
    .seconnd-heading{
       margin-left: 50px;
       font-size: 30px;
    
    }
}
@media screen and (max-width:550px) {
   .product-div:first-child{
    font-size: 40px;
   }
   .seconnd-heading{
    font-size: 25px;
   }
   .sub-headlines span{
    font-size: 25px;
   }
   .right-section .headphone {
    width: 400px;
}
}